<template name="home">

    <head>
        <title>Dashboard Demo</title>
    </head>
    
    <button type="button" class="btn btn-primary" id="btn-generate">Generate Data</button>
    <button type="button" class="btn btn-danger" id="btn-reset">Delete all</button>
    <button type="button" class="btn btn-warning" id="btn-delete">Delete Data</button>
    <button type="button" class="btn btn-warning" id="btn-expire">Expire Data</button>
    <a href="/analytics"><button type="button" class="btn btn-primary">Analytics</button></a>
    <a href="/list"><button type="button" class="btn btn-primary">List</button></a>
</template>