<template name="analytics">
    <div class="row">
        <div class="col-sm-4">
            <canvas id="pie-chart"></canvas>
        </div>
        <div class="col-sm-8">
            <canvas id="line-chart"></canvas>
        </div>
    </div>
</template>