<template name="list">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    {{#with routeContext}}
                    <th scope="col">
                        <a
                            href="{{pathFor route='list' query='orderby=activeIndicator&order='}}{{getSortOrder 'activeIndicator'}}">
                            <i class="fa {{getSortIcon 'activeIndicator'}}"></i>
                        </a>
                        Active Indicator
                    </th>
                    <th scope="col">
                        <a
                            href="{{pathFor route='list' query='orderby=effectiveDate&order='}}{{getSortOrder 'effectiveDate'}}">
                            <i class="fa {{getSortIcon 'effectiveDate'}}"></i>
                        </a>
                        Effective Date
                    </th>
                    <th scope="col">
                        <a
                            href="{{pathFor route='list' query='orderby=expiryDate&order='}}{{getSortOrder 'expiryDate'}}">
                            <i class="fa {{getSortIcon 'expiryDate'}}"></i>
                        </a>
                        Expiry Date
                    </th>
                    <th scope="col">
                        <a href="{{pathFor route='list' query='orderby=field1&order='}}{{getSortOrder 'field1'}}">
                            <i class="fa {{getSortIcon 'field1'}}"></i>
                        </a>
                        Field 1
                    </th>
                    <th scope="col">
                        <a href="{{pathFor route='list' query='orderby=field2&order='}}{{getSortOrder 'field2'}}">
                            <i class="fa {{getSortIcon 'field2'}}"></i>
                        </a>
                        Field 2
                    </th>
                    <th scope="col">
                        <a href="{{pathFor route='list' query='orderby=field3&order='}}{{getSortOrder 'field3'}}">
                            <i class="fa {{getSortIcon 'field3'}}"></i>
                        </a>
                        Field 3
                    </th>
                    <th scope="col">
                        <a href="{{pathFor route='list' query='orderby=field4&order='}}{{getSortOrder 'field4'}}">
                            <i class="fa {{getSortIcon 'field4'}}"></i>
                        </a>
                        Field 4
                    </th>
                    <th scope="col">
                        <a href="{{pathFor route='list' query='orderby=field5&order='}}{{getSortOrder 'field5'}}">
                            <i class="fa {{getSortIcon 'field5'}}"></i>
                        </a>
                        Field 5
                    </th>
                    <th scope="col">
                        <a href="{{pathFor route='list' query='orderby=field6&order='}}{{getSortOrder 'field6'}}">
                            <i class="fa {{getSortIcon 'field6'}}"></i>
                        </a>
                        Field 6
                    </th>
                    <th scope="col">
                        <a href="{{pathFor route='list' query='orderby=field7&order='}}{{getSortOrder 'field7'}}">
                            <i class="fa {{getSortIcon 'field7'}}"></i>
                        </a>
                        Field 7
                    </th>
                    <th scope="col">
                        <a href="{{pathFor route='list' query='orderby=field8&order='}}{{getSortOrder 'field8'}}">
                            <i class="fa {{getSortIcon 'field8'}}"></i>
                        </a>
                        Field 8
                    </th>
                    <th scope="col">
                        <a href="{{pathFor route='list' query='orderby=field9&order='}}{{getSortOrder 'field9'}}">
                            <i class="fa {{getSortIcon 'field9'}}"></i>
                        </a>
                        Field 9
                    </th>
                    <th scope="col">
                        <a href="{{pathFor route='list' query='orderby=field10&order='}}{{getSortOrder 'field10'}}">
                            <i class="fa {{getSortIcon 'field10'}}"></i>
                        </a>
                        Field 10
                    </th>
                    {{/with}}
                </tr>
            </thead>
            <tbody>
                {{#each getList}}
                <tr>
                    <td scope="col">
                        {{activeIndicator}}
                    </td>
                    <td scope="col">{{formatedDate effectiveDate}}</td>
                    <td scope="col">{{formatedDate expiryDate}}</td>
                    <td scope="col">{{field1}}</td>
                    <td scope="col">{{field2}}</td>
                    <td scope="col">{{field3}}</td>
                    <td scope="col">{{field4}}</td>
                    <td scope="col">{{field5}}</td>
                    <td scope="col">{{field6}}</td>
                    <td scope="col">{{field7}}</td>
                    <td scope="col">{{field8}}</td>
                    <td scope="col">{{field9}}</td>
                    <td scope="col">{{field10}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item {{#if firstPage}}disabled{{/if}}"><a class="page-link"
                    href="{{pathFor route='list'}}/{{getSlug -1}}">Previous</a></li>
            <li class="page-item active"><a class="page-link"
                    href="{{pathFor route='list'}}/{{getSlug 0}}">{{getPageNumber 0}}</a></li>
            <li class="page-item"><a class="page-link"
                    href="{{pathFor route='list'}}/{{getSlug 1}}">{{getPageNumber 1}}</a></li>
            <li class="page-item"><a class="page-link"
                    href="{{pathFor route='list'}}/{{getSlug 2}}">{{getPageNumber 2}}</a></li>
            <li class="page-item"><a class="page-link"
                    href="{{pathFor route='list'}}/{{getSlug 3}}">{{getPageNumber 3}}</a></li>
            <li class="page-item"><a class="page-link"
                    href="{{pathFor route='list'}}/{{getSlug 4}}">{{getPageNumber 4}}</a></li>
            <li class="page-item"><a class="page-link"
                    href="{{pathFor route='list'}}/{{getSlug 5}}">{{getPageNumber 5}}</a></li>
            <li class="page-item"><a class="page-link"
                    href="{{pathFor route='list'}}/{{getSlug 6}}">{{getPageNumber 6}}</a></li>
            <li class="page-item"><a class="page-link" href="{{pathFor route='list'}}/{{getSlug 1}}">Next</a></li>
        </ul>
    </nav>
    <div>
    </div>
</template>