<template name="default">
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <i class="fa fa-home"></i>
        Home
      </a>
    </nav>
    <div id="main-wrapper">
      <div class="container-fluid">
        {{> yield}}
      </div>
    </div>
  </body>
</template>